{% extends 'base.html' %}
{% load static from staticfiles %}

{% load crispy_forms_tags %}

{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success" role="alert">
    <center> {{ message }} </center>
</div>
{% endfor %}

{% block sidebar %}
{% endblock sidebar %}


{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}

{% endif %}
<div class="container">
    <div class="d-flex mb-3">
        <div class="p-2 ">
            <div class="card" style="width:200px">
                <img class="card-img-top" src="{% static 'marketing_design/img/matic.png' %}" alt="Card image"
                    style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Jeraldine Matic</h4>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary"> Update Profile </a>
                </div>
            </div>
        </div>
    
        <div class="p-2 " style="width:1000rem">
            <h5>QUOTA:</h5>
            <span>
                <h6>Senior High School:</h6>
            </span>
            <div class="progress">
              <div class="progress-bar" style="width:80%">80 Students</div>
            </div>

            <div class="d-flex mb-3">
                <div class="p-2 flex-fill ">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-lg font-weight-bold text-primary text-uppercase mb-1">
                                        <Center> LEADS </Center>
                                    </div>
                                    <div class="h1 mb-0 font-weight-bold text-gray-800">
                                        <center> 0 </center>
                                    </div>
                                </div>
                                <div class="col-auto">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-2 flex-fill ">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-lg font-weight-bold text-primary text-uppercase mb-1">
                                        <center> ENROLLEE </center>
                                    </div>
                                    <div class="h1 mb-0 font-weight-bold text-gray-800">
                                        <center> 0 </center>
                                    </div>
                                </div>
                                <div class="col-auto">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-2 flex-fill ">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-lg font-weight-bold text-primary text-uppercase mb-1">
                                        <center> CONVERSION RATE </center>
                                    </div>
                                    <div class="h1 mb-0 font-weight-bold text-gray-800">
                                        <center> 0 </center>
                                    </div>
                                </div>
                                <div class="col-auto">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h5>ACTIVITY</h5>
            <div class="d-flex mb-3">
                <div class="p-2 flex-fill bg-ligth"> <center> DATE </center> </div>
                <div class="p-2 flex-fill bg-ligth"> <center> ACTIVITY NAME </center> </div>
                <div class="p-2 flex-fill bg-ligth"> <center> LOCATION </center> </div>
                <div class="p-2 flex-fill bg-ligth"> <center> STATUS </center> </div>
            </div>
        </div>
    </div>

    {% endblock content %}

    {% block footer %}
    {% include 'footer.html' %}
    {% endblock footer %}
    <h2>Card Image</h2>
    <div class="card" style="width:200px">
        <img class="card-img-top" src="{% static 'marketing_design/img/matic.png' %}" alt="Card image"
            style="width:100%">
        <div class="card-body">
            <h4 class="card-title">Jeraldine Matic</h4>
            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
            <a href="#" class="btn btn-primary">See Profile</a>
        </div>
    </div>
    <br>
</div>
<div ckass="content-section">
    <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
            <h2 class="account-heading">{{ user.first_name }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
        </div>
    </div>