{% extends 'base.html' %}
{% load bootstrap4 %}

{% block header %}
{% include 'header.html' %}
{% endblock header %}

{% block sidebar %}

{% endblock sidebar %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}

{% block title %}
<title>Marketing | Target Sheet</title>
{% endblock title %}


{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
   
  <br>
  <div class="card">
    <div class="card-body">
      <br>

      <!-- page content -->
      <div class="content-section">
        {% include 'messages.html' %}
        <div class="card" style="width: 60%; margin: 0 auto; float: none; margin-bottom: 10px; ">
      </div>

      </div>
    </div>
    <br>
    <center>
      <div style="margin-right: 2%; margin-left: 2%;">
        <table class="table table-bordered" style="height: 100%;">
          <thead class="bg-primary text-light">
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Role</th>
              <th scope="col">Quota</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          {% for quota in quota %}
          <tbody>
            <tr>
              <td>{{ quota.assigned_to }}</td>
              <td>{{ quota.last_name }} , {{ quota.first_name }}</td>
              <td>
                {{ user.is_centermanager|yesno:"Center Manager," }}{{ user.is_marketinghead|yesno:"Marketing Head," }}{{ user.is_centerbusinessmanager|yesno:"Center Business Manager," }}
                                {{ user.is_ihe|yesno:"Career Consultant," }}{{ user.is_icl|yesno:"Career Consultant," }}{{ user.is_shs|yesno:"Career Consultant," }}{{ user.is_budgetary|yesno:"Career Consultant," }}
              </td>
              <td></td>
              <td>
                <a href="#" class="btn btn-success btn-sm">VIEW</a>
              </td>
            </tr>
          </tbody>
          {% endfor %}
        </table>
      </div>
    </center>

  </div>
</div>
</div>
<br>










<!--start-->

</div>
</div>
<br>
</div>
</div>
<br><br>

<!--end-->
{% endblock content %}

{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}