{% extends 'base.html' %}
{% load bootstrap4 %}

{% block header %}
{% include 'header.html' %}
{% endblock header %}

{% block sidebar %}

{% endblock sidebar %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}

{% block title %}
        <title>Marketing | Target Sheet</title>
{% endblock title %}


{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <a href="{% url 'crm_blog:home' %}" class="btn btn-primary" > BACK</a>
      
<div class="float-left">
 
</div>
</div>
<!---->
<div class="card" style="min-height: 30vw;">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs"> 
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'contacts:list' %}">Contacts</a>
                  </li>              
              <li class="nav-item">
                <a class="nav-link text-dark" href="#">Leads</a>
              </li>
            </ul>
          </div>
      <div class="card-body">
    <!-- Start of Breadcrumb -->
     <div class="float-left text-dark font-weight-bold">
     Quota: {{ quota.a_senior_high }}{{ quota.a_higher_education }}{{ quota.a_retail }}{{ quota.a_corporate }}{{ quota.a_owwa }}
    </div>
    <div class="d-sm-flex float-right mb-4 ">
     
            <a href="{% url 'contacts:add_contact' %}" class="btn btn-primary" >ADD CONTACTS</a>

    
  
    </div>
<br>
    
    <!-- end -->

<!-- End of Bread Crumb -->
    <br>

<!-- page content -->
    <div class="content-section">
        {% include 'messages.html' %}
   
    <hr>
    <nav aria-label="Page navigation example" style="margin-button: 1%; padding-left: 84%;">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav> 
      <!---->
      <center>
      <div style="max-width:90%">
        <table class="table table-bordered" style="height: 100%;">
            <table class="table table-bordered" style="height: 100%;">
                <thead>
                  <tr style="color: white; background-color: #1a92c9;">
                    <th scope="col">CONTACTS</th>
                    <th scope="col" >PROPOSAL LETTER</th>
                    <th scope="col" >INTERESTED</th>
                    <th scope="col" >NOT INTERESTED</th>
                    <th scope="col" >SIGN MOA</th>
                    <th scope="col">PARTNERS</th>
                  </tr>
                </thead>

              <tbody>
                <tr>
                  <th scope="row">
                      {% for iclContact in icl_contacts %}
                    <a href="{% url 'contacts:edit_contact' iclContact.pk %}">
                      <div class="card bg-light text-dark p-2" style="min-height: 5vw;">
                        {{ iclContact.name}}
                        <div class="text-xs text-capitalize">Added by: {{ user.last_name}} ,{{ user.first_name}} </div>
                      </div>
                    </a>
                    {% endfor %}
                      
                  </th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>

        </table> 
      </div>
    </center>
    </div>
</div>
</div>
</div>
<br>















{% endblock content %}

{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}