{% extends 'base.html' %}
{% load bootstrap4 %}

{% block header %}
{% include 'header.html' %}
{% endblock header %}

{% block sidebar %}

{% endblock sidebar %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}

{% block title %}
<title>Marketing | Target Sheet</title>
{% endblock title %}


{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">

  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <a href="{% url 'crm_blog:home' %}" class="btn btn-primary"> BACK</a>

    <div class="float-left">

    </div>
  </div>
  <!---->
  <div class="card" style="min-height: 30vw;">

    <div class="card-body">
      <!-- Start of Breadcrumb -->
      <div class="float-left text-dark font-weight-bold">

        Quota: {% for quota in quota_list %}
        {% if quota.a_senior_high == None %}

        {% else %}
        Senior High School: &nbsp {{ quota.a_senior_high}} <br>
        {% endif %}

        {% if quota.a_higher_education == None %}

        {% else %}
        Higher Education: &nbsp &nbsp {{ quota.a_higher_education}} <br>
        {% endif %}

        {% if quota.a_retail == None %}

        {% else %}
        ICL (Retail): &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp {{ quota.a_retail}} <br>
        {% endif %}

        {% if quota.a_corporate == None %}

        {% else %}
        ICL (Corporate): &nbsp &nbsp &nbsp &nbsp {{ quota.a_corporate}} <br>
        {% endif %}

        {% if quota.a_owwa == None %}

        {% else %}
        OWWA: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp {{ quota.a_owwa}} <br>
        {% endif %}

        {% endfor %}

      </div>
      <div class="d-sm-flex float-right mb-4 ">

        <a href="{% url 'contacts:add_contact' %}" class="btn btn-primary">ADD CONTACTS</a>



      </div>
      <br>

      <!-- end -->

      <!-- End of Bread Crumb -->
      <br>

      <!-- page content -->
      <div class="content-section">
        {% include 'messages.html' %}

        <hr>
        <!---------------------------------------------------------------------------------------------------------------------->
        <div class="card">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs"> 
              <li class="nav-item">
                  <a class="nav-link active" href="#">Contacts</a>
                </li>              
            <li class="nav-item">
              <a class="nav-link text-dark" href="#">Sent Proposal Letter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="#">Interested</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="#">Not Interested</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="#">Sign M.O.A.</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="#">Partners</a>
            </li>
          </ul>
          </div>
            <div class="card-body">
              <nav aria-label="breadcrumb" class="row" style="padding-left:1%; margin-bottom: 15px;">
                <h4></h4>
                <!-- search field -->
                <div class="topbar-divider d-none d-sm-block" style="padding-right:79%"></div>
                <div class="input-group float-right" style="max-width: 20%;">
                  <input type="text" class="form-control" placeholder="Search" aria-label="Search"
                    aria-describedby="addon-wrapping">
                  <div class="input-group-prepend">
                    <span class="input-group-text" style="background-color: 0080ff;"> Search</span>
                  </div>
                </div>
              </nav>

              <!-- TABLE -->
              <table class="table table-hover table-bordered ">
                <thead style="text-align: center;">
                  <tr class="bg-primary text-light ">
                    <th scope="col">Contact  Name </th>
                    <th scope="col">Address</th>
                    <th scope="col">Email </th>
                    <th scope="col">Date Added</th>
                    <th scope="col">Added by</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                {% for iclContact in icl_contacts %}
                <tbody>
                  <tr>
                    <th scope="row">{{ iclContact.name}}</th>
                    <td class="text-capitalize">{{ iclContact.address}}</td>
                    <td>{{ iclContact.email}}</td>
                    <td>{{ iclContact.date_created}}</td>
                    <td class="text-capitalize">{{ user.last_name}} ,{{ user.first_name}}</td>
                    <td> 
                      <center>
                        <a href="{% url 'contacts:view_contact' iclContact.pk %}" class="btn btn-success">View</a>&nbsp;
                        <a href="{% url 'contacts:edit_contact' iclContact.pk %}" class="btn btn-info">Edit</a>
                      </center> 
                    </td>
                  </tr>
                </tbody>
                {% endfor %}
              </table>
            </div>
        </div>

        <!---------------------------------------------------------------------------------------------------------------------->

      </div>
    </div>
  </div>
</div>
<br>















{% endblock content %}

{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}