{% extends 'base.html' %}
{% load bootstrap4 %}

<!--{% block header %}
{% include 'header.html' %}
{% endblock header %}
-->

{% block sidebar %}

{% endblock sidebar %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}

{% block title %}
        <title>Marketing | Budget</title>
{% endblock title %}
{% load crispy_forms_tags %}

{% block content %} 
      <div class="container-fluid">

    <!-- Start of Breadcrumb -->
    <nav aria-label="breadcrumb" class="row" style="padding-left:1%;">
        <h4>Contacts</h4>   
<!-- search field -->
    <div class="topbar-divider d-none d-sm-block" style="padding-right:73%"></div>
 <div class="input-group float-right" style="max-width: 20%;">            
            <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="addon-wrapping">
            <div class="input-group-prepend" >
              <span class="input-group-text"  style="background-color: 0080ff;"><i class="fas fa-search"></i></span>
            </div>
          </div>                
    </nav>
    <!-- End of Bread Crumb -->
    <br>

<!-- page content -->
    <div class="content-section">
        {% include 'messages.html' %}
    
<!--DIV FOR ADDING SANCTION-->



<div class="card card-deck float-left" style="min-width:30%; max-width:30%; "> 
    <!----------------------- BUTTON ADD SANCTION-------------->
    <div class="card-body">          

    
           <div class="card-body">
             <form action="" method="POST" enctype="multipart/form-data">                      
                     {% csrf_token %}
                                    
                <fieldset class="form-group" >
                            {{ form|crispy }}
                </fieldset> 
            
                <div class="row float-right " style="padding-right: 5%;">        
                    <div class="form-group ">
                        <button class="btn btn-outline-info" type="submit">Submit</button>                   
                     </div>
                                    &nbsp
                <div class="form-group float-left">            
                    <a href="{% url 'contacts:list'%}" class="btn btn-outline-info">
                                    Cancel
                    </a>    
                                    

             </div>  
                </div>
                </div>               
                </form>
              </div>                   
        </div>
         
 <!--DIV THAT SHOWS ALL THE ADDED SANCTION-->       
 <div class=" card card-deck float-right min-vh-100" style="min-width:70%;">
        
        <table class="table table-hover">
            
                <thead class="bg-active text-dark" >
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Date of Arrival</th>
                        <th scope="col">Date of Added</th>
                    </tr>
                </thead>
                {% for Budget in Budget %}
                <tbody>   
                <tr class=" border border-dark">
                        <td scope="row">{{ Budget.b_id }}</td>
                        <td>{{ Budget.amount }}</td>
                        <td>{{ Budget.arrival }}</td>
                        <td>{{ Budget.date_created }}</td>
                    </tr>
                </tbody>
                {% endfor %}
        </table> 
</div>
    <br>
        </div>
    </div> 
    <br>

<br>
<!--LIST OF CAREER CONSULTANT WITH SANCTION-->
    </div>

<!--END LIST OF CAREER CONSULTANT WITH SANCTION-->

<br><br>


      </div>
    </div>
</div>
<br>


{% endblock content %}

{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}