{% extends 'base.html' %}
{% load bootstrap4 %}

{% block header %}
{% include 'header.html' %}
{% endblock header %}

{% block sidebar %}

{% endblock sidebar %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}

{% block title %}
<title>Marketing | Target Sheet</title>
{% endblock title %}


{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <a href="{% url 'contacts:list' %}" class="btn btn-primary"> BACK</a>

        <div class="float-left">

        </div>
    </div>
    <!---->
    <div class="card">

        <div class="card-body">
            <!-- Start of Breadcrumb -->
            <br><br>

            <!-- page content -->
            <div class="content-section">
                {% include 'messages.html' %}
        <div class="card p-3" style="width: 80%; margin: 0 auto; float: none; margin-bottom: 10px;">
    
                    
            <div>
                <br>
                <span class="h5 font-weight-bold pl-3 text-dark">{{ object.name }}</span>
                <br>
            </div>

            <div class="row pl-3">
                <div class="pr-5 pl-3">{{ object.email }}</div>
                <!-- <div>email</div> -->
            </div>
            <div class="row pl-3">
                <div class="pr-5 pl-3">{{ object.phone_number }}</div> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                <!-- <div class="pl-5">mobile</div> -->
            </div>
            <div class="row pl-3">
                <div class="pr-5 pl-3">{{ object.tel_area }} - {{ object.tel_num_digits }} - {{ object.tel_num }}</div> &nbsp;
                <!-- <div class="pl-5">telephone</div> -->
            </div>
            <div>
                <br>
                <span class="font-weight-bold text-dark pl-3">Additional Information</span>
                <br>
            </div>
            <div class="row pl-3">
                    <div class="pr-5 pl-3  mr-2">Address: </div>
                    <div class="pl-5">{{ object.address }}</div>
                </div>
                <div class="row pl-3">
                        <div class="pr-5 pl-3">Contact Person: </div> 
                        <div class="pl-2">{{ object.person }}</div>
                    </div>
                    <div class="row pl-3">
                        <div class="pr-5 pl-3 mr-5">Status: </div> 
                        <div class="pl-4">Contact</div>
                    </div>
                    <div>
                            <a href="#" class="btn btn-primary mb-2 float-right">Update</a>
                      </div>
        <hr>
        <br>
        <center>

            <div style="max-width:90%">
      {% if request.user.is_icl %}
                <div class="card my-3">
                    <div class="card-header">
                      <div class="text-primary font-weight-bold float-left">Letter Information</div>
                    </div>
                    <div class="card-body">
                        <a href="#" class="btn btn-primary mb-2 float-right">Add</a>
                        <table class="table table-bordered" style="height: 100%;">
                            <thead class="bg-primary text-light">
                              <tr>
                                <th scope="col">Details</th>
                                <th scope="col">Proposal Letter</th>
                                <th scope="col">Response Letter</th>
                                <th scope="col">Action</th>
                              </tr>
                            </thead>
                           
                            <tbody>
                              <tr>
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td>
                                      <a href="#" class="btn btn-success">Edit</a>
                                </td>
                              </tr>
                            </tbody>
                          </table> 
                    </div>
                
                  </div> 
                  {% endif %}

                  <!------------------------------------------------------------------------>
                  <div class="card my-3">
                      <div class="card-header">
                        <div class="text-primary font-weight-bold float-left">Transaction</div>
                      </div>
                      <div class="card-body">
                          <a href="#" class="btn btn-primary mb-2 float-right">Add</a><br><br>
                         <div class="card">


                            <div>
                                <br>
                                <span class="h5 font-weight-bold pl-3 text-dark float-left">Raja Soliman High School</span>
                                <br>
                            </div>
                
                            <div class="row pl-3">
                                <div class="pr-5 pl-3">December 25, 2019</div>
                            </div>
                            <div class="row pl-3">
                                <div class="pr-5 pl-3">Manila</div> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                                <div class="pl-5"></div>
                            </div>

                            <div class="row pl-2">
                              <div class="row pl-3">
                                <div class=" pl-3">Approved Budget :</div>
                                <div class="pl-2 pr-5" >500</div>
                            </div> 

                            <div class="row pl-3">
                                <div class="pr-5 pl-3">Used Budget:</div> &nbsp;
                                <input type="text" placeholder="used budget">
                            </div> 
                            </div>
                           
                          
                            <div class="row pl-2">
                                <div class="row pl-3">
                                  <div class="pl-3">Approved Collateral :</div> 
                                  <div class="pl-2 pr-4">500</div>
                              </div> 
  
                              <div class="row pl-3">
                                  <div class="pr-5 pl-3">Used Collateral: </div> &nbsp;
                                  <input type="text" placeholder="used collateral">
                              </div> 
                              </div>
                              

  
                              <div class="row pl-2">
                                  <div class="pr-5 pl-3">Collected Data</div> &nbsp;
                                  <input type="text" placeholder="Collected data">
                              </div> 
                              
                              <!---
                                i loop yung mga transaction na inadd 
                            -->

                              </div>
                              <br>
                              <div class="text-disable">NOTE: this table contains all the transaction with the client including the payment</div>
                      
                  
                    </div> 
            </div>
          </center>

        </div>
            </div>
        </div>
    </div>
</div>
<br>















{% endblock content %}

{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}