{% extends 'base.html' %}

{% block title %}
        <title>Marketing | Budget</title>
{% endblock title %}

{% load crispy_forms_tags %}
{% block content %}
        <div class="content-section">
               {% include 'messages.html' %}
               
                <form action="" method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                                {% if title %}
                                <legend> <center>{{ title }}</center> </legend>
                                {% endif %}
                                {{ form.|crispy }}
                        </fieldset>
                        <div class="form-group">
                                <button class="btn btn-outline-info" type="submit">
                                        Submit
                                </button>
                        </div>
                </form>
        </div>     
{% endblock content %}
