{% extends 'base.html' %}
{% load bootstrap4 %}


{% block header %}
{% include 'header.html' %}
{% endblock header %}

{% block sidebar %}

{% endblock sidebar %}

{% block navbar %}
{% include 'navbar.html' %}

{% endblock navbar %}

{% block title %}
        <title>Marketing | Overview</title>
{% endblock title %}


{% load crispy_forms_tags %}
{% block content %} 
        <div class="card min-vh-100">
                
        </div>
{% endblock content %}

{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}