{% extends 'base.html' %}
{% block title %}
<title>Marketing | TargetSheet</title>
{% endblock title %}


{% load crispy_forms_tags %}
{% block sidebar %}
{% include 'sidebar.html' %}
{% endblock sidebar %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}


{% block content %}
<div class="content-section">
        {% include 'messages.html' %}
        <form action="" method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                        {{ form }}
                </fieldset>
                <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">
                                Submit
                        </button>       
                </div>
        </form>
</div>
{% endblock content %}

{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}