{% extends 'root.html' %}
{% load rest_framework %}
{% load static from staticfiles %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }} 



{% block content %}

    <span>
          <a href="{% url 'centermanager:create_school_year' %}" class="btn btn-success btn-icon-split">
              <span class="icon text-white-50">

                  <i class="fas fa-plus-circle"></i>
              </span>
              <span class="text">School Year</span>
          </a>

              
    </span>
    <span class="float-right">
        <select class="form-control form-control-sm float-right" name="" id="">
            {% for school in school_year_record %}
            <a href="{% url 'centermanager:create_school_year'%}">
                <option value="" href="{% url 'centermanager:create_school_year'%}">
                      {{ school.start_year|date:'Y' }} - {{ school.end_year|date:'Y' }}
                    </option>
                </a>
                    {% endfor %}
            </select>
    </span>
    <br>
    <div class="content-section">
        {% include 'messages.html' %}
        <div class="card" style="height:500px">
                <div class="cad-body">
                    <center>
                        {% if school_year_record %}    
                        <h2 class="mt-4">
                         School Year:{{ school_year_record.start_year|date:'Y' }} - {{ end_year|date:'Y' }}
                        </h2>
                        {% endif %}
                    </center>
                </div>
            </div>
        </div>
        
    </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock content %}

{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}
