{% extends 'base.html' %}
{% load bootstrap4 %}

{% block header %}
{% include 'header.html' %}
{% endblock header %}

{% block sidebar %}

{% endblock sidebar %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}

{% block title %}
        <title>Marketing | Target Sheet</title>
{% endblock title %}


{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <a href="{% url 'crm_blog:home' %}" class="btn btn-primary" > BACK</a>
      
<div class="float-left">
 
</div>
</div>
<!---->
<div class="card">
        <!-- <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs"> 
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'contacts:ihe_list' %}">Contacts</a>
                  </li>              
              <li class="nav-item">
                <a class="nav-link text-dark" href="#">Leads</a>
              </li>
            </ul>
          </div> -->
      <div class="card-body">
    <!-- Start of Breadcrumb -->
    <div class="card-body">          

    
            <div class="card-body">
              <form action="" method="POST">                      
                      {% csrf_token %}
                                     
                 <fieldset class="form-group" >
                             {{ form|crispy }}
                 </fieldset> 
             
                 <div class="row float-right " style="padding-right: 5%;">        
                     <div class="form-group ">
                         <button class="btn btn-outline-info" type="submit">Submit</button>                   
                      </div>
                                     &nbsp
                 <div class="form-group float-left">            
                     <a href="{% url 'contacts:shs_list'%}" class="btn btn-outline-info">
                                     Cancel
                     </a>    
                                     
 
              </div>  
                 </div>
                 </div>               
                 </form>
               </div> 
<br>
    
    <!-- end -->

<!-- End of Bread Crumb -->
    <br>

<!-- page content -->
    <div class="content-section">
        {% include 'messages.html' %}
   
    <hr>
    <nav aria-label="Page navigation example" style="margin-button: 1%; padding-left: 84%;">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav> 
      <!---->
      <center>
          <div style="max-width:100%">
              <table class="table table-bordered" style="height: 100%;">
                  <table class="table table-bordered" style="height: 100%;">
                      <thead class="text-center">
                        <tr style="color: white; background-color: #1a92c9;">
                          <th scope="col">CONTACTS</th>
                          <th scope="col" >CONNECT  <br>  (Email , Call)</th>
                          <th scope="col" >NOT INTERESTED</th>
                          <th scope="col" >LEADS</th>
                          <th scope="col" >REGISTERED</th>
                          <th scope="col">RESERVED</th>
                          <th scope="col">ENROLLED</th>
                        </tr>
                      </thead>
                    <tbody>
                      <tr>
                        <th scope="row">
                            {% for shsContact in shs_contacts %}
                          <a href="{% url 'contacts:shs_view_contact' shsContact.pk %}">
                            <div class="card bg-light text-dark p-2 m-2" style="min-height: 5vw;">
                              {{ shsContact.name}}
                              <div class="text-xs text-capitalize">Added by: {{ user.last_name}} ,{{ user.first_name}} </div>
                            </div>
                          </a>
                          {% endfor %}
                            
                        </th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
      
              </table> 
            </div>
    </center>
    </div>
</div>
</div>
</div>
<br>















{% endblock content %}

{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}