{% extends 'base.html' %}
{% load bootstrap4 %}


{% block header %}
{% include 'header.html' %}
{% endblock header %}

{% block sidebar %}

{% endblock sidebar %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}

{% block title %}
        <title>Marketing | Target Sheet</title>
{% endblock title %}


{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
     
    <div class="card">
    <!-- Start of Breadcrumb -->
    <nav aria-label="breadcrumb" class="row" style="padding-top:2%; padding-right:2%; padding-left:2%;">
            <h4>Target Sheet</h4>   
    <!-- search field -->
        <div class="topbar-divider d-none d-sm-block" style="padding-right:68%"></div>
     <div class="input-group float-right" style="max-width: 20%;">            
                <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="addon-wrapping">
                <div class="input-group-prepend" >
                  <span class="input-group-text"  style="background-color: 0080ff;"><i class="fas fa-search"></i></span>
                </div>
              </div>                
        </nav>
    
    <!-- End of Bread Crumb -->
    <br>

<!-- page content -->
    <div class="content-section">
        {% include 'messages.html' %}
    

<!-- DIV FOR ADDING TARGET SHEET-->

  
<div class="card card-deck float-left" style="min-width:30%; max-width:28%; margin-left:2%; "> 
    <!-- BUTTON ADD TARGET SHEET-->
    <div class="card-body">          
  
           <div class="card-body">
             <form action="" method="POST">                      
                     {% csrf_token %}
                                    
                <fieldset class="form-group" >
                            {{ form|crispy }}
                </fieldset> 
            
                <div class="row float-right " style="padding-right: 5%;">        
                    <div class="form-group ">
                        <button class="btn btn-outline-info" type="submit">Submit</button>                   
                     </div>
                                    &nbsp
                <div class="form-group float-left">
                    <a href="{% url 'centermanager:target'%}" class="btn btn-outline-info">
                                    Cancel
                    </a>    
             </div>  
                </div>
                </div>               
                </form>
              </div>                   
        </div>

<!-- DIV THAT SHOWS ALL THE ADDED SANCTION-->       
<div class=" card card-deck float-right" style="min-height:560px; min-width: 65%; margin-right: 2% ">
    
    <div class="card-body"> 
        <center>
       <div class="card" style="border-color: #36B9CC; max-width: 50%;%">     
      
              
       <div class="card-body">   
       
       <table class="table table-sm">
              
                   <thead class="card-header">
                       <tr>
                       <th scope="col">Name</th>
                       <th scope="col">Target details</th>
                       </tr>
                   </thead>
                   <tbody>
        {% for target_sheet_record in TargetSheet %}                 
                       <tr>
                           <td>iCL: Corporate:</td>
                           <td>{{ target_sheet_record.corporate }}</td>
                       </tr>

                       <tr>
                           <td>ICL: Retail:</td>
                           <td>{{ target_sheet_record.retail }}</td>
                       </tr>
                       
                       <tr>    
                           <td>OWWA</td>
                           <td>{{ target_sheet_record.owwa }}</td>
                       
                       </tr>
                       <tr>
                           <td>Informatics Senior High School:</td>
                           <td>{{ target_sheet_record.seniorhigh }}</td>
                       </tr>

                       <tr>
                           <td>Informatics Higher Education:</td>
                           <td> {{ target_sheet_record.higher_ed }}</td>
                       </tr>
        {% endfor %}                
                   </tbody>
                   </table>

                                  
       </div>
   
</div>
</center>  
<br>
</div>
</div> 
<br><br>


    
    </div>
</div>
</div>
<br>


{% endblock content %}

{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}