{% extends 'base.html' %}

{% block title %}
<title>Marketing | TargetSheet</title>
{% endblock title %}

{% load crispy_forms_tags %}
{% block content %}

<div class="content-section">
    <h1>
        <center>Update Target Details</center>
    </h1>
    <form action="" method="POST">
                {% csrf_token %}
                <fieldset>
                    <div class="form-group">
                        <label for="title"></label>
                        <input type="text" class="form-control" id="title" aria-describedby="titlehelp" placeholder="{{ target.title }}" readonly >
                    </div>

                    <div class="form-group">
                        <label for="startyear"></label>
                        <input type="text" class="form-control" id="startyear" aria-describedby="">
                    </div>

                    <div class="form-group">
                        <label for="endyear"></label>
                        <input type="text" class="form-control" id="endyear" aria-describedby="">
                    </div>

                    <div class="form-group">
                        <label for="corporate"></label>
                        <input type="text" class="form-control" id="corporate" aria-describedby="">
                    </div>

                    <div class="form-group">
                        <label for="retail"></label>
                        <input type="text" class="form-control" id="retail" aria-describedby="">
                    </div>

                    <div class="form-group">
                        <label for="owwa"></label>
                        <input type="text" class="form-control" id="owwa" aria-describedby="">
                    </div>

                    <div class="form-group">
                        <label for="seniorhigh"></label>
                        <input type="text" class="form-control" id="seniorhigh" aria-describedby="">
                    </div>

                    <div class="form-group">
                        <label for="highered"></label>
                        <input type="text" class="form-control" id="highered" aria-describedby="">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </fieldset>
            </form>

</div>

{% endblock content %}