{% extends 'base.html' %}

{% block title %}
        <title>Marketing | TargetSheet</title>
{% endblock title %}

{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <h1> <center>List of Set Target</center></h1>
        {% if targetsheet %}
            <ul>
                {% for target in targetsheet %}
                <li>
                    <a href="{% url 'centermanager:target_details' %}">
                        {{ targetsheet }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>object not found </p>
        {% endif %}
        
    </div>
{% endblock content %}
