{% extends 'base.html' %}
{% load bootstrap4 %}

{% block header %}
{% include 'header.html' %}
{% endblock header %}

{% block sidebar %}

{% endblock sidebar %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}

{% block title %}
<title>Marketing | Target Sheet</title>
{% endblock title %}


{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center">
        <a href="{% url 'crm_blog:home' %}" class="btn btn-primary"> BACK</a>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <br>

            <!-- page content -->
            <div class="content-section">
                {% include 'messages.html' %}
                <div class="float-right">
                    <a href="{% url 'accounts:create_user' %}" class="btn float-left">
                        <span class="text btn btn-primary">Add Career Consultant</span>
                    </a>
                 
                    {% if request.user.is_marketinghead %}
                    <a href="{% url 'marketing_head:add_territory' %}" class="btn float-left">
                        <span class="text btn btn-primary">Assign Territory</span>
                    </a>

                    <a href="{% url 'marketing_head:assign_quota' %}" class="btn float-left">
                        <span class="text btn btn-primary">Assign Quota</span>
                    </a>
                    {% endif %}
                </div>

            </div>
        </div>
        <br>
        <nav aria-label="Page navigation example" style="margin-button: 1%; padding-left: 84%;">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
        <center>
            <div style="margin-right: 2%; margin-left: 2%;">
                <table class="table table-bordered" style="height: 100%;">
                    <thead class="bg-primary text-light">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Email</th>
                            <th scope="col">Firstname</th>
                            <th scope="col">Lastname</th>
                            <th scope="col">Role</th>
                            <th scope="col">Territory</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    {% for user in user_obj_list %}
                    <tbody>
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.email  }}</td>
                            <td>{{ user.first_name }}</td>
                            <td>{{ user.last_name }}</td>

                            <td>
                                {{ user.is_centermanager|yesno:"Center Manager," }}{{ user.is_marketinghead|yesno:"Marketing Head," }}{{ user.is_centerbusinessmanager|yesno:"Center Business Manager," }}
                                {{ user.is_ihe|yesno:"Career Consultant," }}{{ user.is_icl|yesno:"Career Consultant," }}{{ user.is_shs|yesno:"Career Consultant," }}{{ user.is_budgetary|yesno:"Career Consultant," }}
                                {{ user.is_registrar|yesno:"Registrar," }}
                            </td>
                            <td>
                                
                                {{ user.territory }}


                            </td>
                            <td>
                                <a href="#" class="btn btn-success btn-sm">VIEW</a>
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </center>

    </div>
</div>
</div>
<br>










<!--start-->

</div>
</div>
<br>
</div>
</div>
<br><br>

<!--end-->
{% endblock content %}

{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}