{% extends 'base.html' %}

{% block title %}
<title>Marketing | Collateral </title>
{% endblock title %}



{% block header %}
{% endblock header %}

{% block sidebar %}
{% endblock sidebar %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}

{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    {% include 'messages.html' %}
    
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">
                Submit
            </button>
        </div>
    </form>
</div>


{% endblock content  %}
{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}
