{% extends 'base.html' %}

{% block title %}
    <title>Marketing | Payment</title>
{% endblock title %}


{% block header %}
    {% include 'header.html' %}
{% endblock header %}

{% block sidebar %}
{% include 'sidebar.html' %}
{% endblock sidebar %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}

{% block content %}
    <form action="#">
        <input type="image">
        First name:<br>
        <input type="text" name="firstname" value="Mickey">
        <br>
        Last name:<br>
        <input type="text" name="lastname" value="Mouse">
        <br><br>
        <input type="submit" value="Submit">
      </form> 
    

    
         
{% endblock content %}

{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}













































