
{% block head %}
{% include 'head.html' %}
{% endblock head %}

<body id="page-top">

{% block extrahead %}
{% endblock extrahead%}
<div id="wrapper">
    {% block sidebar %}

    {% endblock sidebar %} 

    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            {% block navbar %}
    
            {% endblock navbar %}

            <div class="container-fluid">
            {% block content %}

            {% endblock content %}
            <!-- End of Container Fluid -->
            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        {% block footer %}
        
        {% endblock footer %}
    </footer>
    <!-- End of Footer -->
    
</div>


{% block js_block %}

{% endblock js_block %}


</body>

</html>









