<!-- 


<div class="d-flex">
    <div  id="sidebar-nav" class="sidebar sidebar-dark bg-dark">
        <div class="sidebar-scroll">
            <ul class="list-unstyled">
                <li>
                    <a href="index-2.html" class="active"><i class="lnr lnr-eye"></i> <span>Overview</span></a>
                </li>
                <li>
                    <a href="elements.html" class=""><i class="lnr lnr-warning"></i> <span>General Information </span></a>
                </li>
                <li>
                    <a href="charts.html" class=""><i class="lnr lnr-chart-bars"></i> <span>Career Consultant</span></a>
                </li>
                <li>
                    <a href="panels.html" class=""><i class="lnr lnr-cog"></i> <span>Leads</span></a>
                </li>
                <li>
                    <a href="notifications.html" class=""><i class="lnr lnr-alarm"></i> <span>Budgets</span></a>
                </li>
                <li>
                    <a href="tables.html" class=""><i class="lnr lnr-dice"></i> <span>Collateral</span></a>
                </li>
                <li>
                    <a href="typography.html" class=""><i class="lnr lnr-text-format"></i> <span>Calenadr</span></a>
                </li>
                <li>
                    <a href="icons.html" class=""><i class="lnr lnr-linearicons"></i> <span>Report</span></a>
                </li>
                <li>
                    <a href="icons.html" class=""><i class="lnr lnr-linearicons"></i> <span>Analytics</span></a>
                </li>
                <li>
                    <a href="#sm_expand_1" data-toggle="collapse">
                        <i class="fa fa-fw fa-link"></i> brrrr
                    </a>
                    <ul id="sm_expand_1" class="list-unstyled collapse">
                        <li><a href="#">Submenu Item</a></li>
                        <li><a href="#">Submenu Item</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class="fa fa-fw fa-link"></i> Menu Item</a></li>
                <li><a href="#"><i class="fa fa-fw fa-link"></i> Menu Item</a></li>
                <li><a href="#"><i class="fa fa-fw fa-link"></i> Menu Item</a></li>
            </ul>
        </div>
    </div>

    <div class="content p-4">
        <h2 class="mb-4"></h2>

        <div class="card mb-4">
            <div class="card-body">
                This is a blank page you can use as a starting point.
            </div>
        </div>
    </div>
</div>


</body>
 -->

  <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

  
        <!-- Begin Page Content -->
        <div class="container-fluid">



        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->
    </div>