<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Start of Bread Crumb  -->
    <!-- <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">    
                        <a href="{% url 'crm_blog:home' %}">  
                            Dashboard 
                    </li>
                </ol>
            </nav> -->
    <!-- End of Bread Crumb  -->


  
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
    </div>
<div>
    <!-- User Profile -->
    <div class="card card-deck float-left" style="min-height:80%; min-width:20%; max-width:20%; margin-left: 10%;">
      <img  class="card-img-top view view-cascade overlay" src="https://mdbootstrap.com/img/Photos/Others/photo6.jpg" alt="Card image cap">
      <div class="card-body card-body-cascade text-center">
        <h5 class="card-title">Benedict Flores</h5>
        <p class="card-text">Center Manager</p>
        <a href="#" class="btn btn-primary">Update</a>
      </div>
    </div>

<div class="card card-deck float-right" style="min-width:59%; max-width:59%; margin-right: 10%;">
<!--CENTER MANAGER-->
    {% if request.user.is_centermanager %}
    <!-- navigation Buttons -->
    <div class="row d-flex justify-content-center" style="min-height:50%; padding-top:2%;">
      <!-- School year -->
       <div class="col-xl-5 col-md-6 mb-4">
             <div class="card shadow h-90 py-2" style="background-image: linear-gradient(to right, #c6cbef, #8186d5);">
               <div class="card-body">
                 <div class="row no-gutters align-items-center">
                   <div class="col mr-2">
                     <div class="text-xs font-weight-bold text-uppercase mb-1" style="color:#394a6d;">School year</div>
                     <div class="row no-gutters align-items-center">
                       <div class="col-auto">
                         <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">2018 - 2019</div>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
       <!--Informatics Higher Education -->
       <div class="col-xl-5 col-md-6 mb-4" >
             <div class="card shadow h-90 py-2" style="background-image: linear-gradient(to right, #c2e8ce, #c0ffb3);">
               <div class="card-body" style="padding-bottom: 1%;">
                 <div class="row no-gutters align-items-center">
                   <div class="col mr-2">
                     <div class="text-xs font-weight-bold text-uppercase mb-1" style="color:#394a6d;">Sales Pipeline</div>
                    <div class="btn btn-success mb-0 mr-3 text-light float-right">View</div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
     
      
     
             <!-- OWWA-->
             <div class="col-xl-5 col-md-6 mb-4" >
              <div class="card shadow h-90 py-2" style="background-image: linear-gradient(to right,  #ac8daf,#f1d4d4);">
                <div class="card-body" style="padding-bottom: 1%;">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1"style="color:#394a6d;">Employee Accounts</div>
                     <a href="{% url 'centermanager:employee_list' %}" class="btn mb-0 mr-3 text-light float-right" style="background-color: #ac8daf;">View</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
     
     
       <!-- Corporate -->
       <div class="col-xl-5 col-md-6 mb-4" >
        <div class="card shadow h-90 py-2" style="background-image: linear-gradient(to right,  #f66767,#f9d5bb);">
          <div class="card-body" style="padding-bottom: 1%;">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-uppercase mb-1"style="color:#394a6d;">School Settings</div>
                <a href="{% url 'centermanager:school_year_list' %}" class="btn mb-0 mr-3 text-light float-right" style="background-color: #f66767;">View</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
         {% endif %}
<!--MARKETING HEAD-->
         {% if request.user.is_marketinghead %}
    <!-- navigation Buttons -->
    <div class="row d-flex justify-content-center" style="min-height:50%; padding-top:2%;">
        <!-- School year -->
         <div class="col-xl-5 col-md-6 mb-4">
               <div class="card shadow h-90 py-2" style="background-image: linear-gradient(to right, #c6cbef, #8186d5);">
                 <div class="card-body">
                   <div class="row no-gutters align-items-center">
                     <div class="col mr-2">
                       <div class="text-xs font-weight-bold text-uppercase mb-1" style="color:#394a6d;">School year</div>
                       <div class="row no-gutters align-items-center">
                         <div class="col-auto">
                           <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">2018 - 2019</div>
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
         <!--Informatics Higher Education -->
         <div class="col-xl-5 col-md-6 mb-4" >
               <div class="card shadow h-90 py-2" style="background-image: linear-gradient(to right, #c2e8ce, #c0ffb3);">
                 <div class="card-body" style="padding-bottom: 1%;">
                   <div class="row no-gutters align-items-center">
                     <div class="col mr-2">
                       <div class="text-xs font-weight-bold text-uppercase mb-1" style="color:#394a6d;">Career Consultant</div>
                      <div class="btn btn-success mb-0 mr-3 text-light float-right">View</div>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
       
             
       
               <!-- OWWA-->
               <div class="col-xl-5 col-md-6 mb-4" >
                <div class="card shadow h-90 py-2" style="background-image: linear-gradient(to right,  #ac8daf,#f1d4d4);">
                  <div class="card-body" style="padding-bottom: 1%;">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-uppercase mb-1"style="color:#394a6d;">Budget</div>
                       <a href="{% url 'centermanager:employee_list' %}" class="btn mb-0 mr-3 text-light float-right" style="background-color: #ac8daf;">View</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
       
       
         <!-- Corporate -->
         <div class="col-xl-5 col-md-6 mb-4" >
          <div class="card shadow h-90 py-2" style="background-image: linear-gradient(to right,  #f66767,#f9d5bb);">
            <div class="card-body" style="padding-bottom: 1%;">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-uppercase mb-1"style="color:#394a6d;">Collateral</div>
                  <a href="{% url 'centermanager:create_school_year' %}" class="btn mb-0 mr-3 text-light float-right" style="background-color: #f66767;">View</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
         {% endif %}
</div>
</div>

</div>
</div>
</div>

<!-- /.container-fluid -->