{% load static from staticfiles %}

<!-- Topbar -->
<nav class="navbar navbar-expand ndavbar-light topbar mb-4 static-top shadow" style="background-color:#272727; max-height: 10%;">

    <!-- Sidebar Toggle (Topbar) -->
   
 
    <!-- Topbar Navbar -->


    {% if request.user.is_superuser %}
    <ul class="navbar-nav mr-auto float-left">
        <li><a class="btn btn-outline-light" href="{% url 'crm_blog:home' %}">Overview</a></li> &nbsp
        <li><a class="btn btn-outline-light" href="{% url 'admin:index' %}">
               Admin Panel
            </a>
        </li>&nbsp
    </ul>
    {% endif %}

    {% if request.user.is_registrar %}
        <ul class="navbar-nav mr-auto float-left">
            <li><a class="btn btn-outline-light" href="{% url 'registrar:course_list' %}">Course</a></li> &nbsp
            <li><a class="btn btn-outline-light" href="{% url 'registrar:requirements_list' %}">Requirements</a></li>&nbsp
            <li><a class="btn btn-outline-light" href="#">Students</a></li>&nbsp
        </ul>
    {% endif %}

    {% if request.user.is_icl %}
        <ul class="navbar-nav mr-auto float-left">
            <li><a class="btn btn-outline-light" href="#">Overview</a></li> &nbsp
            <li><a class="btn btn-outline-light" href="{% url 'contacts:list' %}">Contacts</a></li>&nbsp
            <li><a class="btn btn-outline-light" href="#">Profile</a></li>&nbsp
        </ul>
    {% endif %}

<ul class="navbar-nav ml-auto">
        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small"> 
                {% if request.user.is_centermanager %}
                        {{ user.email }}
                <img class="img-profile rounded-circle" src="{% static 'marketing_design/img/matic.PNG' %}">
                {% endif %}
                
                {% if request.user.is_superuser %}
                        {{ user.email }}
                <img class="img-profile rounded-circle" src="{% static 'marketing_design/img/matic.PNG' %}">
                {% endif %}

                {% if request.user.is_marketinghead %}
                {{ user.email }}
                <img class="img-profile rounded-circle" src="{% static 'marketing_design/img/matic.PNG' %}">
                {% endif %}

                {% if request.user.is_registrar %}
                {{ user.email }}
                <img class="img-profile rounded-circle" src="{% static 'marketing_design/img/matic.PNG' %}">
                {% endif %}

                {% if request.user.is_centerbusinessmanager %}
                {{ user.email }}
                <img class="img-profile rounded-circle" src="#">
                {% endif %}

                {% if request.user.is_ihe %}
                {{ user.email }}
                <img class="img-profile rounded-circle" src="#">
                {% endif %}                

                {% if request.user.is_shs %}
                {{ user.email }}
                <img class="img-profile rounded-circle" src="{% static 'marketing_design/img/matic.PNG' %}">
                {% endif %}

                {% if request.user.is_icl %}
                {{ user.email }}
                <img class="img-profile rounded-circle" src="{% static 'marketing_design/img/matic.PNG' %}">
                {% endif %}

                </span>
                 
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <!--
                    {% if request.user.is_superuser %}

                <a class="dropdown-item" href="{% url 'accounts:profile' %}">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                </a>
                {% endif %} 
                -->
               
                {% if request.user.is_centermanager %}
                    <a class="dropdown-item" href="{% url 'accounts:profile' %}">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        Profile
                    </a>
                {% endif %}

                {% if request.user.is_ihe %}
                    <a class="dropdown-item" href="{% url 'accounts:profile' %}">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        Profile
                    </a>
                {% endif %}

                {% if request.user.is_shs %}
                    <a class="dropdown-item" href="{% url 'accounts:profile' %}">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        Profile
                    </a>
                {% endif %}
                
                {% if request.user.is_icl %}
                    <a class="dropdown-item" href="{% url 'accounts:profile' %}">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        Profile
                    </a>
                {% endif %}                
                
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                </a>
            </div>
        </li>

    </ul>

</nav>
<!-- End of Topbar -->