{% load static from staticfiles %}

<!-- Topbar -->
<nav class="navbar navbar-expand ndavbar-light topbar mb-4 static-top shadow" style="background-color:#272727; max-height: 10%;">

    <!-- Sidebar Toggle (Topbar) -->
   
 
    <!-- Topbar Navbar -->
    {% if request.user.is_centermanager %}
    <li class="nav-item active">
            <a class="nav-link" href="#">
                <strong>
                    <center style="color:white;">
                        Center Manager
                    </center>
                </strong>
            </a>
        </li>
      &nbsp
      &nbsp
      &nbsp
      &nbsp
    <ul class="navbar-nav mr-auto float-left">
        <li><a class="btn btn-outline-light" href="{% url 'centermanager:overview'%}">Overview</a></li> &nbsp 
        <li>
            <div class="btn-group">
                <button type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Marketing Information
                </button>
                    <div class="dropdown-menu" style="background-color: #272727; border: white;">
                        <a class="dropdown-item" style="color: white" href="{% url 'centermanager:target_list'%}"><i class="fas fa-folder-plus"></i>&nbsp Target Sheet</a>
                        <a class="dropdown-item" style="color: white" href="{% url 'centermanager:matriculation_list'%}"><i class="fas fa-file-invoice"></i>&nbsp Matriculations</a>
                        <a class="dropdown-item" style="color: white" href="{% url 'centermanager:sanction_list'%}"><i class="fas fa-gavel"></i>&nbsp Sanction</a>
                        <a class="dropdown-item" style="color: white" href="{% url 'centermanager:commission_list'%}"><i class="fas fa-hand-holding-usd"></i>&nbsp Commission</a>
                    </div>
            </div>
        </li>&nbsp
        <li><a class="btn btn-outline-light" href="#">Accounts</a></li>&nbsp
        <li><a class="btn btn-outline-light" href="#">Contact</a></li>&nbsp
        <li><a class="btn btn-outline-light" href="#">Leads</a></li>&nbsp
        
    </ul>
    {% endif %}

    {% if request.user.is_marketinghead %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'crm_blog:home' %}">
            <strong>
                <center style="color:white;">
                    Marketing Head
                </center>
            </strong>
        </a>
    </li>
  &nbsp
  &nbsp     
  &nbsp
  &nbsp
    <ul class="navbar-nav mr-auto float-left">
        <li><a class="btn btn-outline-light" href="{% url 'centermanager:overview' %}">Overview</a></li> &nbsp
        <li><a class="btn btn-outline-light" href="{% url 'accounts:register_list' %}">Career Consultant</a></li>&nbsp
        <li><a class="btn btn-outline-light" href="{% url 'marketing_head:collateral_list' %}">Collateral</a></li>&nbsp
        <li><a class="btn btn-outline-light" href="{% url 'marketing_head:budget_list' %}">Budget</a></li>&nbsp       
    </ul>
    {% endif %}

    {% if request.user.is_superuser %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'crm_blog:home' %}">
            <strong>
                <center style="color:white;">
                    Admin
                </center>
            </strong>
        </a>
    </li>
  &nbsp
  &nbsp     
  &nbsp
  &nbsp
    <ul class="navbar-nav mr-auto float-left">
        <li><a class="btn btn-outline-light" href="{% url 'centermanager:overview' %}">Overview</a></li> &nbsp
        <li><a class="btn btn-outline-light" href="{% url 'admin:index' %}">
               Admin Panel
            </a>
        </li>&nbsp
    </ul>
    {% endif %}

    {% if request.user.is_registrar %}
    <li class="nav-item active">
            <a class="nav-link" href="{% url 'crm_blog:home' %}">
                <strong>
                    <center style="color:white;">
                        Registrar
                    </center>
                </strong>
            </a>
        </li>
      &nbsp
      &nbsp     
      &nbsp
      &nbsp
        <ul class="navbar-nav mr-auto float-left">
            <li><a class="btn btn-outline-light" href="#">Course</a></li> &nbsp
            <li><a class="btn btn-outline-light" href="#">Requirements</a></li>&nbsp
            <li><a class="btn btn-outline-light" href="#">Students</a></li>&nbsp
        </ul>
    {% endif %}

<ul class="navbar-nav ml-auto">
        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small"> 
                {% if request.user.is_centermanager %}
                        {{ user.email }}
                <img class="img-profile rounded-circle" src="{% static 'marketing_design/img/matic.PNG' %}">
                {% endif %}
                
                {% if request.user.is_superuser %}
                        {{ user.email }}
                <img class="img-profile rounded-circle" src="{% static 'marketing_design/img/matic.PNG' %}">
                {% endif %}

                {% if request.user.is_marketinghead %}
                {{ user.email }}
                <img class="img-profile rounded-circle" src="{% static 'marketing_design/img/matic.PNG' %}">
                {% endif %}

                {% if request.user.is_registrar %}
                {{ user.email }}
                <img class="img-profile rounded-circle" src="{% static 'marketing_design/img/matic.PNG' %}">
                {% endif %}

                {% if request.user.is_centerbusinessmanager %}
                {{ user.email }}
                <img class="img-profile rounded-circle" src="#">
                {% endif %}



                {% if request.user.is_careerconsultant %}
                {{ user.email }}
                <img class="img-profile rounded-circle" src="{% static 'marketing_design/img/matic.PNG' %}">
                {% endif %}
                </span>
                 
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <!--
                    {% if request.user.is_superuser %}

                <a class="dropdown-item" href="{% url 'accounts:profile' %}">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                </a>
                {% endif %} 
                -->
               
                {% if request.user.is_centermanager %}
                    <a class="dropdown-item" href="{% url 'accounts:profile' %}">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        Profile
                    </a>
                {% endif %}
                
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                </a>
            </div>
        </li>

    </ul>

</nav>
<!-- End of Topbar -->