{% extends 'base.html' %}

{% block title %}
    <title>Home | Marketing</title>
{% endblock title %}



    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock navbar %}
    

    <div id="content-wrapper" class="d-flex flex-column">


            {% block topnavbar %}
                {% include 'topnavbar.html' %}
            {% endblock topnavbar %}
     
                
                
                {% block content %}
                {% include 'content.html' %}
                
                {% endblock content %}
     
            

    </div>

    {% block footer %}
        {%  include 'footer.html' %}
    {% endblock footer %}




 