{% extends 'base.html' %}


{% block title %}
    <title>Home | Marketing</title>
{% endblock title %}

{% block header %}

    {% include 'header.html' %}
{% endblock header %}

{% block content %}

{% if user.is_centermanager %}
<main role="main" class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="content-section">

                <h3>Center Manager</h3>
                <p class='text-muted'>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-light">
                            <a href="{% url 'centermanager:school_year'  %}">Add School Year</a>
                        </li>
                        <li class="list-group-item list-group-item-light">
                            <a href="{% url 'centermanager:target_list'  %}">Target Sheet Information</a>
                        </li>
                        <li class="list-group-item list-group-item-light">
                            <a href="{% url 'centermanager:payment_list' %}">Payment Information </a>
                        </li>
                        <li class="list-group-item list-group-item-light">
                            <a href="{% url 'centermanager:sanction_list' %}"> Sanction Information </a>
                        </li>
                        <li class="list-group-item list-group-item-light">
                            <a href="{% url 'centermanager:commission_list' %}">Commission Information</a>
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</main>
{% endif %}

{% if user.is_marketinghead %}
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
        </div>
        <div class="col-md-4">
            <div class="content-section">
                <h3>MarketingHead</h3>
                <p class='text-muted'>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-light">
                             <a href="{% url 'accounts:register_list' %}">
                                Register
                            </a> 
                        </li>
                        <li class="list-group-item list-group-item-light">
                            <a href="{% url 'crm_blog:view-target-list' %}">
                                 Target Sheet
                            </a>
                        </li>
                        <li class="list-group-item list-group-item-light">
                            <a href="{% url 'marketing_head:assign_list' %}"> 
                                Assign Quota
                            </a> 
                        </li>
                        <li class="list-group-item list-group-item-light">
                            <a href="{% url  'marketing_head:budget_list'  %}">
                                 Budget 
                            </a> 
                        </li>
                        <li class="list-group-item list-group-item-light">
                            <a href="#"> 
                                Collateral     
                            </a> 
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</main>
{% endif %}

{% if user.is_icl %}
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
        </div>
        <div class="col-md-4">
            <div class="content-section">
              
                <h3>Career Consultant</h3>
            
                <p class='text-muted'>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-light">
                            <a href="{% url 'careerconsultant:icl_contact_list' %}">
                             Contacts
                            </a>
                        </li>
                        <li class="list-group-item list-group-item-light">
                            <a href="#">
                               asdas
                            </a>
                        </li>
                        <li class="list-group-item list-group-item-light">
                            <a href="#">
                                Aaasda
                            </a>
                        </li>
                        <li class="list-group-item list-group-item-light">
                            <a href="#">
                             ada
                            </a>
                        </li>
                        <li class="list-group-item list-group-item-light">
                            <a href="#">
                             adas
                            </a> </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</main>
{% endif %}




{% if user.is_registrar %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
            </div>
            <div class="col-md-4">
                <div class="content-section">
                    <h3>Registrar</h3>
                    <p class='text-muted'>
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-light"> <a href="#">Course Information </a> </li>
                            <li class="list-group-item list-group-item-light"> <a href="#">Student Status</a> </li>
                        
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </main>
{% endif %}

{% endblock content %}