

{% extends 'base.html' %}
{% load bootstrap4 %}


{% block header %}
    {% include 'header.html' %}
{% endblock header %}



{% block content %}

    {%  if request.user.is_authenticated %}
        {% if request.user.is_centermanager  %}
            <div class="content-section" >

           {% include 'messages.html' %}
           
                <div class="float-left">
                    <h3> Commission Setting </h3>
                </div>
       
                <a href="{% url 'centermanager:commission' %}"  class='btn btn-info float-right' >
                    Add New
                </a>


                <ul>
                    <table class="table">
                        {% if object_list %}
                                <thead class="thead-dark">
                                    <tr>
                                        
                                        <th scope="col">Date</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                            {% for commission in object_list %}
                                    <tbody>
                                        <tr>
                                            
                                            <td>{{ commission.date_created }}</td>
                                            <td>{{ commission.title }}</td>
                                            <td> <a class="btn btn-secondary"  href="{% url 'centermanager:commission_update' commission.pk %}">Update</a> </td>
                                        </tr>                   
                                    </tbody>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <p>No Commission Have Been Set</p>
                    </table>
                    {% endif %}
            </div>
        {% endif %}
    {% endif %}

    

<div class="modal fade bd-target-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="container-fluid">
            <div class="modal-content">
                
            </div>
        </div>
    </div>
</div>
{% endblock content  %}

