{% extends 'base.html' %}
{% load bootstrap4 %}


{% block header %}
{% include 'header.html' %}
{% endblock header %}

{% block sidebar %}

{% endblock sidebar %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}

{% block title %}
        <title>Marketing | Commission</title>
{% endblock title %}


{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">

    <!-- Start of Breadcrumb -->
    <nav aria-label="breadcrumb" class="row" style="padding-left:1%;">
        <h4>Matriculation</h4>   
<!-- search field -->
    <div class="topbar-divider d-none d-sm-block" style="padding-right:70%"></div>
 <div class="input-group float-right" style="max-width: 20%;">            
            <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="addon-wrapping">
            <div class="input-group-prepend" >
              <span class="input-group-text"  style="background-color: 0080ff;"><i class="fas fa-search"></i></span>
            </div>
          </div>                
    </nav>
    
    <!-- End of Bread Crumb -->
    <br>

<!-- page content -->
<div class="content-section">
        {% include 'messages.html' %}
    

<!-- DIV FOR ADDING SANCTION-->

  
<div class="card card-deck float-left" style="min-width:30%; max-width:30%; "> 
    <!-- BUTTON ADD SANCTION-->
    <div class="row"> 
            <a href="#" class="btn " >&nbsp
                    <span class="text btn btn-info">IHE:Night </span>
            </a>    
            <a href="#" class="btn " >
                    <span class="text btn btn-info">IHE:Regular</span>
            </a>
            <a class="btn" href="#">
                <span class="text btn btn-info">Senior High School</span>
            </a>
    </div>     
        </div>


    <div class=" card card-deck float-right" style="min-height:560px; min-width: 70%; max-width: 70%">    
     

        <div class="row mx-auto py-3 " style="min-width:96%; min-height: 50%; margin-bottom: 1% ;" >
                <div class="card border-primary " >
                    <div class="card-body text-primary">
                    <div class="card-title">Informatics Higher Education: Regular Class</div>
            <table class="table table-sm">
                    <tbody>
                        <tr>
                            <td>Registration Fee</td>
                            <td>{{ target_sheet_record.corporate }}</td>
                        </tr>
        
                        <tr>
                            <td>Miscellaneous Fee</td>
                            <td>{{ target_sheet_record.retail }}</td>
                        </tr>
                        
                        <tr>    
                            <td>Laboratory Fee</td>
                            <td>{{ target_sheet_record.owwa }}</td>
                        
                        </tr>
                        <tr>
                            <td>Amount per Unit(cash)</td>
                            <td>{{ target_sheet_record.seniorhigh }}</td>
                        </tr>
        
                        <tr>
                            <td>Amount per Unit(installment)</td>
                            <td> {{ target_sheet_record.higher_ed }}</td>
                        </tr>
                    </tbody>
                    </table>
                    </div>
                    </div>
        </div>              

        <div class="row mx-auto py-3 " style="min-width:96%; min-height: 50%; margin-bottom: 1% ;" >
                <div class="card border-primary " >
                    <div class="card-body text-primary">
                    <div class="card-title">Informatics Higher Education: Night Class</div>                                                 
                    <table class="table table-sm">
                            <tbody>
                                <tr>
                                    <td>Registration Fee</td>
                                    <td>{{ target_sheet_record.corporate }}</td>
                                </tr>
                
                                <tr>
                                    <td>Miscellaneous Fee</td>
                                    <td>{{ target_sheet_record.retail }}</td>
                                </tr>
                                
                                <tr>    
                                    <td>Laboratory Fee</td>
                                    <td>{{ target_sheet_record.owwa }}</td>
                                
                                </tr>
                                <tr>
                                    <td>Amount per Unit(cash)</td>
                                    <td>{{ target_sheet_record.seniorhigh }}</td>
                                </tr>
                
                                <tr>
                                    <td>Amount per Unit(installment)</td>
                                    <td> {{ target_sheet_record.higher_ed }}</td>
                                </tr>
                            </tbody>
                            </table>
                    </div>
                    </div>
        </div>                                
                
    <div class="row mx-auto py-3 " style="min-width:96%; min-height: 50%; margin-bottom: 1% ;" >
            <div class="card border-primary " >
                <div class="card-body text-primary">
                <div class="card-title">Senior High School</div>                                                 
                <table class="table table-sm">
                        <tbody>
                            <tr>
                                <td>Registration Fee</td>
                                <td>{{ target_sheet_record.corporate }}</td>
                            </tr>
                        </tbody>
                                if no voucher
                         <tbody> 
                            <tr>    
                                <td>Laboratory Fee</td>
                                <td>{{ target_sheet_record.owwa }}</td>
                            
                            </tr>
                            <tr>
                                <td>Amount per Unit(cash)</td>
                                <td>{{ target_sheet_record.seniorhigh }}</td>
                            </tr>
            
                            <tr>
                                <td>Amount per Unit(installment)</td>
                                <td> {{ target_sheet_record.higher_ed }}</td>
                            </tr>
                        </tbody>
                        </table>
                </div>
                </div>
    </div>            


                                         
            </div>
        </div>
    </div>




{% endblock content %}

{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}